In [8]:
import pandas as pd
bookings = pd.read_csv(r'C:\Users\Masha\Downloads\2_bookings.csv', sep = ';')
bookings_head = bookings.head(7)
bookings_head

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03

In [10]:
bookings.shape

(119390, 21)

In [11]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

In [24]:
def replace_space_and_capital(name):
    new_name = name.replace(' ', '_').lower()
    return new_name

In [25]:
bookings.rename(columns = replace_space_and_capital)

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
5,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03
6,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-03
7,Resort Hotel,0,9,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,FB,PRT,C,C,Transient,Check-Out,2015-07-03
8,Resort Hotel,1,85,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,BB,PRT,A,A,Transient,Canceled,2015-05-06
9,Resort Hotel,1,75,2015-07-01,2015,July,27,1,0,3,...,2,0.0,0,HB,PRT,D,D,Transient,Canceled,2015-04-22
10,Resort Hotel,1,23,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-06-23
11,Resort Hotel,0,35,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,HB,PRT,D,D,Transient,Check-Out,2015-07-05
12,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,USA,D,E,Transient,Check-Out,2015-07-05
13,Resort Hotel,0,18,2015-07-01,2015,July,27,1,0,4,...,2,1.0,0,HB,ESP,G,G,Transient,Check-Out,2015-07-05
14,Resort Hotel,0,37,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,PRT,E,E,Transient,Check-Out,2015-07-05
15,Resort Hotel,0,68,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,IRL,D,E,Transient,Check-Out,2015-07-05
16,Resort Hotel,0,37,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,PRT,E,E,Contract,Check-Out,2015-07-05
17,Resort Hotel,0,12,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,IRL,A,E,Transient,Check-Out,2015-07-02
18,Resort Hotel,0,0,2015-07-01,2015,July,27,1,0,1,...,2,0.0,0,BB,FRA,A,G,Transient,Check-Out,2015-07-02
19,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,4,...,2,0.0,0,BB,GBR,G,G,Transient,Check-Out,2015-07-05
20,Resort Hotel,0,37,2015-07-01,2015,July,27,1,1,4,...,1,0.0,0,BB,GBR,F,F,Transient,Check-Out,2015-07-06
21,Resort Hotel,0,72,2015-07-01,2015,July,27,1,2,4,...,2,0.0,0,BB,PRT,A,A,Transient,Check-Out,2015-07-07
22,Resort Hotel,0,72,2015-07-01,2015,July,27,1,2,4,...,2,0.0,0,BB,PRT,A,A,Transient,Check-Out,2015-07-07
23,Resort Hotel,0,72,2015-07-01,2015,July,27,1,2,4,...,2,0.0,0,BB,PRT,D,D,Transient,Check-Out,2015-07-07
24,Resort Hotel,0,127,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,HB,GBR,D,I,Contract,Check-Out,2015-07-01
25,Resort Hotel,0,78,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,PRT,D,D,Transient,Check-Out,2015-07-08
26,Resort Hotel,0,48,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,IRL,D,D,Contract,Check-Out,2015-07-08
27,Resort Hotel,1,60,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,PRT,E,E,Transient,Canceled,2015-05-11
28,Resort Hotel,0,77,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,PRT,A,A,Transient,Check-Out,2015-07-08
29,Resort Hotel,0,99,2015-07-01,2015,July,27,1,2,5,...,2,0.0,0,BB,PRT,D,D,Transient,Check-Out,2015-07-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119360,City Hotel,0,195,2017-08-29,2017,August,35,29,1,5,...,2,0.0,0,BB,JPN,A,A,Transient,Check-Out,2017-09-04
119361,City Hotel,0,100,2017-08-31,2017,August,35,31,1,3,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-04
119362,City Hotel,0,198,2017-08-29,2017,August,35,29,1,5,...,2,0.0,0,BB,ITA,A,A,Transient,Check-Out,2017-09-04
119363,City Hotel,0,212,2017-08-28,2017,August,35,28,2,5,...,2,0.0,0,BB,CHN,D,D,Transient,Check-Out,2017-09-04
119364,City Hotel,0,212,2017-08-28,2017,August,35,28,2,5,...,2,0.0,0,BB,ITA,D,D,Transient,Check-Out,2017-09-04
119365,City Hotel,0,54,2017-08-27,2017,August,35,27,3,5,...,1,0.0,0,BB,JPN,G,G,Transient,Check-Out,2017-09-04
119366,City Hotel,0,210,2017-08-28,2017,August,35,28,2,5,...,2,0.0,0,BB,PRT,A,A,Transient,Check-Out,2017-09-04
119367,City Hotel,0,212,2017-08-28,2017,August,35,28,2,5,...,2,0.0,0,BB,PRT,A,A,Transient,Check-Out,2017-09-04
119368,City Hotel,0,261,2017-08-30,2017,August,35,30,1,4,...,2,0.0,0,BB,DEU,A,A,Transient,Check-Out,2017-09-04
119369,City Hotel,0,207,2017-08-25,2017,August,34,25,3,7,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-04
119370,City Hotel,0,201,2017-08-30,2017,August,35,30,1,4,...,1,0.0,0,BB,DEU,A,A,Transient,Check-Out,2017-09-04
119371,City Hotel,0,175,2017-08-31,2017,August,35,31,1,3,...,2,0.0,0,BB,NLD,A,A,Transient,Check-Out,2017-09-04
119372,City Hotel,0,175,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,BB,NLD,A,A,Transient,Check-Out,2017-09-04
119373,City Hotel,0,175,2017-08-31,2017,August,35,31,1,3,...,1,0.0,0,BB,NLD,A,A,Transient,Check-Out,2017-09-04
119374,City Hotel,0,201,2017-08-29,2017,August,35,29,1,5,...,2,0.0,0,BB,DEU,A,A,Transient,Check-Out,2017-09-04
119375,City Hotel,0,200,2017-08-30,2017,August,35,30,1,4,...,2,0.0,0,BB,AUT,A,A,Transient,Check-Out,2017-09-04
119376,City Hotel,0,165,2017-08-29,2017,August,35,29,1,5,...,3,0.0,0,BB,AUT,E,E,Transient,Check-Out,2017-09-04
119377,City Hotel,0,185,2017-08-30,2017,August,35,30,1,4,...,2,0.0,0,SC,CHE,A,A,Transient,Check-Out,2017-09-04
119378,City Hotel,0,247,2017-08-31,2017,August,35,31,1,3,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-04
119379,City Hotel,0,109,2017-08-31,2017,August,35,31,1,3,...,2,0.0,0,BB,GBR,D,D,Transient,Check-Out,2017-09-04
119380,City Hotel,0,44,2017-08-31,2017,August,35,31,1,3,...,2,0.0,0,SC,DEU,A,A,Transient,Check-Out,2017-09-04
119381,City Hotel,0,188,2017-08-31,2017,August,35,31,2,3,...,2,0.0,0,BB,DEU,A,A,Transient,Check-Out,2017-09-05
119382,City Hotel,0,135,2017-08-30,2017,August,35,30,2,4,...,3,0.0,0,BB,JPN,G,G,Transient,Check-Out,2017-09-05
119383,City Hotel,0,164,2017-08-31,2017,August,35,31,2,4,...,2,0.0,0,BB,DEU,A,A,Transient,Check-Out,2017-09-06
119384,City Hotel,0,21,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119385,City Hotel,0,23,2017-08-30,2017,August,35,30,2,5,...,2,0.0,0,BB,BEL,A,A,Transient,Check-Out,2017-09-06
119386,City Hotel,0,102,2017-08-31,2017,August,35,31,2,5,...,3,0.0,0,BB,FRA,E,E,Transient,Check-Out,2017-09-07
119387,City Hotel,0,34,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,DEU,D,D,Transient,Check-Out,2017-09-07
119388,City Hotel,0,109,2017-08-31,2017,August,35,31,2,5,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2017-09-07
119389,City Hotel,0,205,2017-08-29,2017,August,35,29,2,7,...,2,0.0,0,HB,DEU,A,A,Transient,Check-Out,2017-09-07

In [27]:
def replace_space_and_capital(var):
    var = var.replace(' ','_').lower()
    return (var)

In [30]:
bookings = bookings.rename(columns = replace_space_and_capital)
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

In [31]:
all_lead_time=bookings.lead_time.sum()
all_lead_time

12417923

In [41]:
top_5 = (bookings
         .query("is_canceled == '0'")
         .groupby('country', as_index = False)
         .agg({'is_canceled' : 'count'})
         .sort_values('is_canceled', ascending = False))
top_5.head()

    country  is_canceled
125     PRT        21071
57      GBR         9676
54      FRA         8481
50      ESP         6391
42      DEU         6069

In [63]:
round(bookings.query("hotel == 'City Hotel'").stays_total_nights.mean(),2)

2.98

In [62]:
round(bookings.query("hotel == 'Resort Hotel'").stays_total_nights.mean(),2)

4.32

In [66]:
#alternative_solution
bookings.groupby('hotel').agg({'stays_total_nights' : 'mean'}).round(2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

In [83]:
bookings.query("assigned_room_type != reserved_room_type" ).shape

(14917, 21)

In [87]:
bookings.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 21 columns):
hotel                        119390 non-null object
is_canceled                  119390 non-null int64
lead_time                    119390 non-null int64
arrival_full_date            119390 non-null object
arrival_date_year            119390 non-null int64
arrival_date_month           119390 non-null object
arrival_date_week_number     119390 non-null int64
arrival_date_day_of_month    119390 non-null int64
stays_in_weekend_nights      119390 non-null int64
stays_in_week_nights         119390 non-null int64
stays_total_nights           119390 non-null int64
adults                       119390 non-null int64
children                     119386 non-null float64
babies                       119390 non-null int64
meal                         119390 non-null object
country                      118902 non-null object
reserved_room_type           119390 non-null object
assigned_room_type           119390 non-null object
customer_type                119390 non-null object
reservation_status           119390 non-null object
reservation_status_date      119390 non-null object
dtypes: float64(1), int64(10), object(10)
memory usage: 19.1+ MB

In [108]:
bookings.query("arrival_date_year == 2016").arrival_date_month.value_counts().sort_values(ascending = False)

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [109]:
bookings.query("arrival_date_year == 2017").arrival_date_month.value_counts().sort_values(ascending = False)

May         6313
April       5661
June        5647
July        5313
March       4970
August      4925
February    4177
January     3681
Name: arrival_date_month, dtype: int64

In [121]:
bookings.query("is_canceled == '1' & arrival_date_year == 2015").groupby('arrival_date_year')['arrival_date_month'].value_counts().sort_values(ascending = False)

arrival_date_year  arrival_date_month
2015               September             2094
                   October               1732
                   August                1598
                   July                  1259
                   December               973
                   November               486
Name: arrival_date_month, dtype: int64

In [125]:
bookings[['adults', 'children', 'babies']].head()

   adults  children  babies
0       2       0.0       0
1       2       0.0       0
2       1       0.0       0
3       1       0.0       0
4       2       0.0       0

In [128]:
bookings[['adults', 'children', 'babies']].mean().idxmax()

'adults'

In [138]:
bookings['total_kids'] = bookings.children + bookings.babies
bookings.total_kids.max()

10.0

In [146]:
bookings.groupby('hotel').agg({'total_kids' : 'mean'})

              total_kids
hotel
City Hotel      0.096311
Resort Hotel    0.142586

In [148]:
bookings.groupby('hotel').total_kids.mean().round(2).idxmax()

'Resort Hotel'

In [154]:
bookings['has_kids'] = bookings.total_kids > 0

In [191]:
with_kids = bookings.query("is_canceled == '1' & has_kids == True") \
    .groupby('has_kids', as_index = False) \
    .agg({'is_canceled' : 'count'}) \
    .rename(columns={'is_canceled':'canceled'})

In [202]:
cancelled_with_kids = bookings.query("is_canceled == '1' & has_kids == True")
cancelled_with_kids.shape

(3259, 23)

In [203]:
all_with_kids = bookings.query("has_kids == True")
all_with_kids.shape

(9332, 23)

In [207]:
churn_rate_with_kids = cancelled_with_kids.shape[0] / all_with_kids.shape[0]
round(churn_rate_with_kids,2)

0.35

In [211]:
cancelled_without_kids = bookings.query("is_canceled == '1' & has_kids == False")
cancelled_without_kids.shape

all_without_kids = bookings.query("has_kids == False")
all_without_kids.shape

churn_rate_without_kids = cancelled_without_kids.shape[0] / all_without_kids.shape[0]*100
round(churn_rate_without_kids,2)

37.22

In [213]:
def has_kids(x):
    if x > 0:
        return True
    else:
        return False

In [216]:
#Solution 1
bookings['has_kids'] = bookings.total_kids.apply(has_kids)
bookings['has_kids'].head()

0    False
1    False
2    False
3    False
4    False
Name: has_kids, dtype: bool

In [217]:
#Solution 2
bookings['has_kids'] = bookings.total_kids > 0
bookings['has_kids'].head()

0    False
1    False
2    False
3    False
4    False
Name: has_kids, dtype: bool

In [219]:
bookings['has_kids'] = bookings.total_kids.astype(bool)
bookings['has_kids'].head()

0    False
1    False
2    False
3    False
4    False
Name: has_kids, dtype: bool

In [223]:
bookings['has_kids']['is_canceled'].value_count

KeyError: 'is_canceled'