# Hotel bookings (mini-project)

**Importing dataset from a csv-file in the working directory**

In [2]:
import pandas as pd
bookings = pd.read_csv('2_bookings.csv', sep = ';')
bookings.head()

,Hotel,Is Canceled,Lead Time,arrival full date,Arrival Date Year,Arrival Date Month,Arrival Date Week Number,Arrival Date Day of Month,Stays in Weekend nights,Stays in week nights,...,Adults,Children,Babies,Meal,Country,Reserved Room Type,Assigned room type,customer type,Reservation Status,Reservation status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

**Checking number of rows and columns in the dataset**

In [3]:
bookings.shape

(119390, 21)

**Checking types of the columns in the dataset**

In [4]:
bookings.dtypes

Hotel                         object
Is Canceled                    int64
Lead Time                      int64
arrival full date             object
Arrival Date Year              int64
Arrival Date Month            object
Arrival Date Week Number       int64
Arrival Date Day of Month      int64
Stays in Weekend nights        int64
Stays in week nights           int64
stays total nights             int64
Adults                         int64
Children                     float64
Babies                         int64
Meal                          object
Country                       object
Reserved Room Type            object
Assigned room type            object
customer type                 object
Reservation Status            object
Reservation status_date       object
dtype: object

**Finding the most frequent data type**

In [5]:
bookings.dtypes.value_counts()

int64      10
object     10
float64     1
dtype: int64

**Checking the names of the columns**

In [6]:
bookings.columns

Index(['Hotel', 'Is Canceled', 'Lead Time', 'arrival full date',
       'Arrival Date Year', 'Arrival Date Month', 'Arrival Date Week Number',
       'Arrival Date Day of Month', 'Stays in Weekend nights',
       'Stays in week nights', 'stays total nights', 'Adults', 'Children',
       'Babies', 'Meal', 'Country', 'Reserved Room Type', 'Assigned room type',
       'customer type', 'Reservation Status', 'Reservation status_date'],
      dtype='object')

**Defining and applying a function that changes the format of the columns' names:**
 - spaces for underscore ( _ ) 
 - capital letters to lower case**

In [7]:
def replace_space_and_capital(name):
    new_name = name.replace(' ', '_').lower()
    return new_name

bookings = bookings.rename(columns = replace_space_and_capital)
bookings.head()

,hotel,is_canceled,lead_time,arrival_full_date,arrival_date_year,arrival_date_month,arrival_date_week_number,arrival_date_day_of_month,stays_in_weekend_nights,stays_in_week_nights,...,adults,children,babies,meal,country,reserved_room_type,assigned_room_type,customer_type,reservation_status,reservation_status_date
0,Resort Hotel,0,342,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
1,Resort Hotel,0,737,2015-07-01,2015,July,27,1,0,0,...,2,0.0,0,BB,PRT,C,C,Transient,Check-Out,2015-07-01
2,Resort Hotel,0,7,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,C,Transient,Check-Out,2015-07-02
3,Resort Hotel,0,13,2015-07-01,2015,July,27,1,0,1,...,1,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-02
4,Resort Hotel,0,14,2015-07-01,2015,July,27,1,0,2,...,2,0.0,0,BB,GBR,A,A,Transient,Check-Out,2015-07-03

**Finding top 5 countries with the most amount of successful bookings**

In [8]:
top_5 = (bookings
         .query("is_canceled == 0")
         .groupby('country', as_index = False)
         .agg({'is_canceled' : 'count'})
         .sort_values('is_canceled', ascending = False)
         .rename(columns={'is_canceled': 'successful_bookings'}))
top_5.head()

    country  successful_bookings
125     PRT                21071
57      GBR                 9676
54      FRA                 8481
50      ESP                 6391
42      DEU                 6069

**Calculating average amount of stays (total nights) in both hotels City Hotel and Resort Hotel**

In [9]:
bookings.groupby('hotel').agg({'stays_total_nights' : 'mean'}).round(2)

#alternative solution

#round(bookings.query("hotel == 'City Hotel'").stays_total_nights.mean(),2)
#round(bookings.query("hotel == 'Resort Hotel'").stays_total_nights.mean(),2)

              stays_total_nights
hotel
City Hotel                  2.98
Resort Hotel                4.32

**Counting occasions when a reserved room type is different from an assigned room type**

In [10]:
bookings.query("assigned_room_type != reserved_room_type" ).shape[0]

14917

**What was the most popular month based on planned date of arrival in 2016? 2017?**

In [11]:
for year in [2016, 2017]:
    popular_month = bookings.query("arrival_date_year == @year") \
    .arrival_date_month.value_counts() \
    .sort_values(ascending = False).head(1)
    print ('The most popular month in {} is'.format(year), popular_month.to_string())
    
# alternative solution
    
# bookings.query("arrival_date_year == 2016") \
#     .arrival_date_month.value_counts() \
#     .sort_values(ascending = False).head(1)

# bookings.query("arrival_date_year == 2017") \
#     .arrival_date_month.value_counts() \
#     .sort_values(ascending = False).head(1)

The most popular month in 2016 is October    6203
The most popular month in 2017 is May    6313

**What was the most popular month of cancellations in 2015? 2016? 2017?**

In [50]:
for year in [2015, 2016, 2017]:
    month_of_cancelations = bookings.query("is_canceled == '1' and arrival_date_year == @year") \
    .groupby('arrival_date_year')['arrival_date_month'] \
    .value_counts()
    print ('In {} it was {}.'.format(year, month_of_cancelations.idxmax()[1]))

    
# alternative solution

# bookings.query("is_canceled == '1' & arrival_date_year == 2015") \
#    .groupby('arrival_date_year')['arrival_date_month']\ 
#    .value_counts().sort_values(ascending = False)

In 2015 it was September.
In 2016 it was October.
In 2017 it was May.

**What column has the highest average: adults, children or babies?**

In [55]:
bookings[['adults', 'children', 'babies']].mean().idxmax()

'adults'

**Adding a column with the total number of kids per booking**

In [56]:
bookings['total_kids'] = bookings.children + bookings.babies

**Which hotel has the highest average of total amount of kids per booking?**

In [62]:
bookings.groupby('hotel').agg({'total_kids' : 'mean'}).sort_values('total_kids', ascending = False).round(2).head(1)

# alternative solution

# bookings.groupby('hotel').total_kids.mean().round(2).idxmax()

              total_kids
hotel
Resort Hotel        0.14

**Churn rate** -  is the rate at which customers stop doing business with an entity. It is most commonly expressed as the percentage of service subscribers who discontinue their subscriptions within a given time period. It is also the rate at which employees leave their jobs within a certain period. For a company to expand its clientele, its growth rate (measured by the number of new customers) must exceed its churn rate.
https://www.investopedia.com/terms/c/churnrate.asp

**Calculate a churn rate for customers with kids and without kids**

In [71]:
# creating a new column (boolean) to indicate which bookings have kids
bookings['has_kids'] = bookings.total_kids > 0

# quering all booking and cancelaton numbers for visitors with kids
cancelled_with_kids = bookings.query("is_canceled == '1' & has_kids == True")

all_with_kids = bookings.query("has_kids == True")

churn_rate_with_kids = cancelled_with_kids.shape[0] / all_with_kids.shape[0]*100
print ('Churn rate with kids:', round(churn_rate_with_kids,2))

# quering all booking and cancelaton numbers for visitors without kids
cancelled_without_kids = bookings.query("is_canceled == '1' & has_kids == False")
cancelled_without_kids.shape

all_without_kids = bookings.query("has_kids == False")
all_without_kids.shape

churn_rate_without_kids = cancelled_without_kids.shape[0] / all_without_kids.shape[0]*100
print ('Churn rate without kids:', round(churn_rate_without_kids,2))

Churn rate with kids: 34.92
Churn rate without kids: 37.22

**Other alternative solutions**

In [73]:
# function to define whether the booking has kids

#Solution 1
def has_kids(x):
    if x > 0:
        return True
    else:
        return False
    
bookings['has_kids'] = bookings.total_kids.apply(has_kids)

#Solution 2
bookings['has_kids'] = bookings.total_kids > 0

#Solution 3
bookings['has_kids'] = bookings.total_kids.astype(bool)